

:root {
  font-family: 'Kanit', sans-serif;  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}




#app {
  font-family: 'Kanit', sans-serif;  font-size: 15px;

}

